# Pandas Series

In [1]:
import pandas as pd

## Creating Pandas Series

### Series from Python list

In [ ]:
country = ["India", "Japan", "USA", "Russia", "China"]
pd.Series(country)

0     India
1     Japan
2       USA
3    Russia
4     China
dtype: object

### Series from Python dictionary

In [ ]:
marks = pd.Series({"MAT": 97, "CHEM": 97, "PHY": 95, "CSC": 100})
marks

MAT      97
CHEM     97
PHY      95
CSC     100
dtype: int64

### Series from CSV file

In [ ]:
vk_df = pd.read_csv("data/kohli_ipl.csv", index_col="match_no")
vk = vk_df.iloc[:, 0]
vk
# .iloc[:, 0] is used to convert df to series (squeeze = True is deprecated)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
movies = pd.read_csv("data/bollywood.csv", index_col="movie").iloc[:, 0]
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

## Arithmetic Operations

In [6]:
print("Marks Lost:\n", 100 - marks)

Marks Lost:
 MAT     3
CHEM    3
PHY     5
CSC     0
dtype: int64

## Relational Operators

In [7]:
marks > 95

MAT      True
CHEM     True
PHY     False
CSC      True
dtype: bool

## Series Attributes

In [ ]:
print("Size:", marks.size)  # It considers missing values
print("Data Type:", marks.dtype)
print("Name:", marks.name)
print("Is all items unique?:", marks.is_unique)  # 97 is twice
print("Indices:", marks.index)
print("Values:", marks.values)

Size: 4
Data Type: int64
Name: None
Is all items unique?: False
Indices: Index(['MAT', 'CHEM', 'PHY', 'CSC'], dtype='object')
Values: [ 97  97  95 100]

## Providing Custom Attributes

### Custom Index

In [ ]:
marks = [97, 97, 95, 100, 79, 93]
subjects = ["MAT", "CHEM", "PHY", "CSC", "TAM", "ENG"]
pd.Series(marks, index=subjects)

MAT      97
CHEM     97
PHY      95
CSC     100
TAM      79
ENG      93
dtype: int64

### Custom Name for Series

In [ ]:
marks = pd.Series(marks, index=subjects, name="Tamil Selvan's Marks")
marks

MAT      97
CHEM     97
PHY      95
CSC     100
TAM      79
ENG      93
Name: Tamil Selvan's Marks, dtype: int64