# Functions & Methods

In [352]:
import numpy as np
import pandas as pd

In [353]:
vk_df = pd.read_csv("data/kohli_ipl.csv", index_col="match_no")
vk = vk_df.iloc[:, 0]
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [354]:
movies = pd.read_csv("data/bollywood.csv", index_col="movie").iloc[:, 0]
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [355]:
marks = pd.Series({"MAT": 97, "CHEM": 97, "PHY": 95, "CSC": 100})
marks

MAT      97
CHEM     97
PHY      95
CSC     100
dtype: int64

In [356]:
subs = pd.read_csv("data/subs.csv").iloc[:, 0]
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

## Data Methods

### Head

In [357]:
print("First 5 Rows:\n", vk.head())  # returns first 5 rows by default
print("\nFirst 3 Rows:\n", vk.head(3))

First 5 Rows:
 match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

First 3 Rows:
 match_no
1     1
2    23
3    13
Name: runs, dtype: int64

### Tail

In [358]:
print("Last 5 Rows:\n", vk.tail())  # returns last 5 rows by default
print("\nLast 3 Rows:\n", vk.tail(3))

Last 5 Rows:
 match_no
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

Last 3 Rows:
 match_no
213    73
214    25
215     7
Name: runs, dtype: int64

### Random

In [359]:
print("Random Movie:\n", movies.sample())  # returns 1 row randomly
print("\nRandom 5 Movies:\n", movies.sample(5))

Random Movie:
 movie
Knock Out (2010 film)    Sanjay Dutt
Name: lead, dtype: object

Random 5 Movies:
 movie
Guddu Rangeela                     Arshad Warsi
Creature 3D                        Bipasha Basu
Waiting (2015 film)            Naseeruddin Shah
Motu Patlu: King of Kings    Saurav Chakraborty
Mere Pyare Prime Minister         Rasika Agashe
Name: lead, dtype: object

### Value Counts

- Gives Frequency of data

In [360]:
movies.value_counts()

lead
Akshay Kumar            48
Amitabh Bachchan        45
Ajay Devgn              38
Salman Khan             31
Sanjay Dutt             26
                        ..
Tanishaa Mukerji         1
Tanuja                   1
Ankit                    1
Rakhee Gulzar            1
Geetika Vidya Ohlyan     1
Name: count, Length: 566, dtype: int64

### Sort Values

In [361]:
vk.sort_values(ascending=False).to_numpy()
# ascending = True by default
# df.values is not recommended by pandas, to_numpy() returns values as numpy array

array([113, 109, 108, 100, 100,  99,  93,  92,  90,  84,  82,  80,  79,
        75,  75,  73,  73,  73,  72,  72,  71,  70,  70,  68,  67,  67,
        67,  65,  64,  62,  62,  58,  58,  58,  58,  57,  57,  57,  56,
        56,  55,  54,  54,  53,  52,  51,  51,  51,  50,  50,  49,  48,
        48,  48,  48,  46,  45,  44,  43,  43,  42,  42,  41,  41,  41,
        39,  39,  39,  38,  38,  38,  38,  37,  36,  35,  35,  35,  35,
        35,  35,  34,  34,  34,  33,  33,  33,  33,  32,  32,  32,  31,
        31,  31,  30,  30,  30,  29,  28,  27,  27,  27,  25,  25,  25,
        25,  25,  24,  24,  24,  23,  23,  23,  23,  22,  22,  21,  21,
        21,  20,  20,  20,  20,  19,  19,  19,  18,  18,  18,  18,  17,
        17,  16,  16,  16,  16,  16,  15,  15,  14,  14,  14,  14,  13,
        13,  13,  13,  12,  12,  12,  12,  12,  12,  12,  12,  11,  11,
        11,  10,  10,  10,   9,   9,   9,   9,   9,   9,   9,   8,   8,
         8,   8,   8,   8,   7,   7,   7,   7,   6,   6,   6,   6,   5,
         5,   5,   5,   5,   4,   4,   4,   4,   4,   3,   3,   3,   3,
         3,   2,   2,   1,   1,   1,   1,   1,   1,   1,   1,   0,   0,
         0,   0,   0,   0,   0,   0,   0])

#### Inplace = True

- Makes changes to the original data
- Does not return anything

In [362]:
vk.copy().sort_values(inplace=True)
vk

# copy() creates a copy of the df, used here to avoid error (view of some array)

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

### Sort Index

In [363]:
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

### Changing Data Type

In [364]:
vk.astype("uint8")

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: uint8

### Between

- Both upper and lower limits are included

In [365]:
vk[vk.between(75, 100)]

match_no
81      93
82      99
110     82
116     75
117     79
119     80
120    100
127     75
145     92
160     84
164    100
178     90
Name: runs, dtype: int64

### Clip

In [366]:
subs.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

### Duplicates

In [367]:
values = pd.Series([1, 3, 5, 5, 9, 4, 1, 7, 6, 3])
values

0    1
1    3
2    5
3    5
4    9
5    4
6    1
7    7
8    6
9    3
dtype: int64

In [368]:
# values with are duplicated
values[values.duplicated()]

3    5
6    1
9    3
dtype: int64

#### Drop Duplicates

- Returns new Series
- Does not affects original

In [369]:
values.drop_duplicates()

0    1
1    3
2    5
4    9
5    4
7    7
8    6
dtype: int64

In [370]:
values.drop_duplicates(keep="last")  # removes first duplicate occurrence, keeps last

3    5
4    9
5    4
6    1
7    7
8    6
9    3
dtype: int64

### Missing Values

In [371]:
temp = pd.Series([1, 4, None, 5, np.nan, 0])
temp

0    1.0
1    4.0
2    NaN
3    5.0
4    NaN
5    0.0
dtype: float64

#### Is Null / Is NaN / Is NaT

In [372]:
# series.isna() is preferred over series.isnull()
temp.isna()

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

#### Drop Missing Values

In [373]:
temp.dropna()

0    1.0
1    4.0
3    5.0
5    0.0
dtype: float64

#### Fill Missing Values

In [374]:
# fillna() will get deprecated
temp.fillna(0)

0    1.0
1    4.0
2    0.0
3    5.0
4    0.0
5    0.0
dtype: float64

In [375]:
# fills NaN values from preceding value
temp.ffill()

0    1.0
1    4.0
2    4.0
3    5.0
4    5.0
5    0.0
dtype: float64

In [376]:
# fills NaN values from succeeding value
temp.bfill()

0    1.0
1    4.0
2    5.0
3    5.0
4    0.0
5    0.0
dtype: float64

### Is In

- Checks in values

In [377]:
vk[vk.isin([1, 2])]

match_no
1      1
5      1
16     2
26     2
75     1
77     1
106    1
113    1
174    1
204    1
Name: runs, dtype: int64

### Apply

In [378]:
movies.apply(str.capitalize)

movie
Uri: The Surgical Strike                   Vicky kaushal
Battalion 609                                Vicky ahuja
The Accidental Prime Minister (film)         Anupam kher
Why Cheat India                            Emraan hashmi
Evening Shadows                         Mona ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah rukh khan
Aankhen (2002 film)                     Amitabh bachchan
Saathiya (film)                             Vivek oberoi
Company (film)                                Ajay devgn
Awara Paagal Deewana                        Akshay kumar
Name: lead, Length: 1500, dtype: object

In [386]:
vk.apply(lambda runs: "Good Day" if runs > vk.mean() else "Bad Day")

match_no
1       Bad Day
2       Bad Day
3       Bad Day
4       Bad Day
5       Bad Day
         ...
211     Bad Day
212     Bad Day
213    Good Day
214     Bad Day
215     Bad Day
Name: runs, Length: 215, dtype: object

## Series with Python Functionality

In [379]:
values = pd.Series([10, 25, None, 37, 54, np.nan])

print("Total Count:", len(values))  # counts all values
print("Type:", type(values))
print("Sorted:", sorted(values))  # output in list
print("Minimum:", min(values))
print("Maximum:", max(values))

# print("\nAll attributes and methods:\n", dir(values))

Total Count: 6
Type: <class 'pandas.core.series.Series'>
Sorted: [10.0, 25.0, nan, 37.0, 54.0, nan]
Minimum: 10.0
Maximum: 54.0

### Type Conversion

In [380]:
print("Data:", marks)
print("List:", list(marks))
print("Dictionary:", dict(marks))

Data: MAT      97
CHEM     97
PHY      95
CSC     100
dtype: int64
List: [97, 97, 95, 100]
Dictionary: {'MAT': np.int64(97), 'CHEM': np.int64(97), 'PHY': np.int64(95), 'CSC': np.int64(100)}

### Membership Operators

In [381]:
"Madras Cafe" in movies  # works with index for Series

True

In [382]:
"Amitabh Bachchan" in movies.to_list()  # movies.values

True

## Math Methods

In [383]:
# count - counts total number of values, does not include None, null, nan
print("Count:", vk.count())
print("Sum:", vk.sum())
print("Product:", vk.prod())
print("Minimum:", vk.min())
print("Maximum:", vk.max())

Count: 215
Sum: 6634
Product: 0
Minimum: 0
Maximum: 113

## Statistical Methods

In [384]:
print("Average:", vk.mean())
print("Median:", vk.median())
print("Mode:", movies.mode())
print("Standard Deviation:", vk.std())
print("Variance:", vk.var())

Average: 30.855813953488372
Median: 24.0
Mode: 0    Akshay Kumar
Name: lead, dtype: object
Standard Deviation: 26.22980132830278
Variance: 688.0024777222343

In [385]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64